/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

ui-view {
  max-width: 100vw;
}

[flex] {
  display: flex;

  flex: 1;
}

@each $layout in row, column {
  [layout="#{ $layout }"] {
    flex-direction: #{ $layout };
  }
}

@each $f-align in flex-start, center, flex-end {
  @each $s-align in flex-start, center, flex-end {
    [layout-align="#{ $f-align } #{ $s-align }"] {
      align-items: #{ $f-align };
      justify-content: #{ $s-align };
    }
  }
}
